/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes pointer-animation {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(4px);
      }
}
/* Искры от сердца */
@keyframes sparksVis {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* Увеличение сердца */
@keyframes heartUP {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
/* Heart */
.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.heart:hover .core {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear;
}

.heart:active .core {
  fill: var(--liked-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--liked-heart-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.heart:active .main-body {
  fill: var(--liked-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--liked-heart-color);
  transition: fill 0.3s linear  0.05s;
}

.contour {
  fill: var(--hover-heart-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--liked-heart-color);
  transition: fill 0.3s linear 0.06s;
}

.sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  fill: var(--liked-heart-color);
  animation: sparksVis 0.3s ease-in forwards 0.3s;
}

.like-icon.is-liked .heart {
  animation: heartUP 0.3s ease-in 0.1s;
  transform-origin: center;
}