/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--accent-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*ниже гардиент*/
  background: repeating-linear-gradient(to right, #d3d3d3 , #d3d3d3 2px, transparent, transparent 2px),
              repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent, transparent 2px), 
              var(--bg-image);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: 'inter-Variable', sans-serif;
  }
}

.header {
  width: 696px;
  height: 364px;
  margin-block-start: 102px;
  margin-block-end: 60px;
  display: grid;
  grid-template-rows: 136px auto auto auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.header__logo-container {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link {
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-block-start: 10px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  padding-block-start: 10px;
  padding-inline-start: 14px;
  grid-row-start: 3;
}

.theme-menu__item {
  list-style: none;
  padding-block-start: 5px;
}

.theme-menu__button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: 0;
}

/* стрелочка меню */
.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  display: flex;
  left: -1rem;
  top: 0;
  bottom: 0;
  right: 0;
  animation: pointer-animation 0.5s infinite ease-in-out alternate;
}
/* подчеркивание меню */
.theme-menu__button:after {
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  margin-block-start: 3px;
  transition: 0.3s ease-in-out;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.section {
  display: grid;
  grid-template-rows: repeat(5, auto);
  font-style: normal;
  line-height: 21px;
  max-width: 696px;
  margin-block-start: 45px;
}

.section__title {
  max-width: 662px;
  padding: 1px 10px;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 18px;
  align-self: stretch;
}

.section__image {
  max-width: 696px;
  max-height: 696px;
  grid-row-start: 2;
  padding: 2px;
  margin-block-end: 27px;
}

.image__container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.label__text {
  position: absolute;
  opacity: 0.5;
  top: 25px;
  right: 25px;
  transition: 1s ease-in-out;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
}

.section__text {
  max-width: 646px;
  padding: 30px 25px 0 25px;
}

.section__text:last-of-type {
  padding-block-start: 27px;
}

.like-button__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-block-start: 25px;
  padding-inline-end: 26px;
  padding-block-end: 25px;
  grid-row-start: 5;
}

.card__like-button {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 38px;
}

.card__like-button:hover {
  cursor: pointer;
}

.button__style {
  font-size: 14px;
  line-height: 90%;
  text-decoration: none;
  outline: 0;
  transition: background-color 0.3s ease-in-out 0.3s;
}

.button__style:focus {
  outline: 0;
  transition: box-shadow 0.3s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 1;
}

.button__style:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out 0.1s;
}

.button__style:hover::before {
  transform: scaleX(1);
}
/* Heart */
.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transform-origin: center;
  padding: 0;
  height: 38px;
  width: 40px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  transition: border-color 0.3s ease;
}

.like-icon
.main-body {
  fill: transparent;
}

.heart,
.main-body,
.sparks,
.core {
  fill: none;
  transition: fill 0.3s ease-in-out;
}

.heart:hover .contour
.main-body .core {
  cursor: pointer;
}

.heart:hover .main-body {
  transition: fill 0.3s ease-in-out 0.05s;
}

.heart:hover .core {
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon.is-liked .sparks {
  animation: sparksVis 0.3s ease-in-out forwards 0.3s;
}

.like-icon.is-liked .heart {
  animation: heartUP 0.3s ease-in-out;
  transform-origin: center;
}

.footer {
  display: flex;
  align-content: space-between;
  margin-block-start: 54px;
}

.footer__button {
  position: relative;
  display: inline-flex;
  padding: 15px 20px;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: 51px;
}

.footer__button:hover {
  cursor: pointer;
}

#dialog__id {
  padding: 30px 40px;
  transition: opacity 0.3s ease-in-out;
}

#dialog__id .opened {
  display: grid;
  justify-content: center;
  align-items: center;
}

#dialog__id:not([open]) {
  pointer-events: none;
  opacity: 0;
}

#dialog__id::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog__text {
  width: 234px;
  transition: 1s ease-in-out;
}

.dialog__button {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  margin-block-start: 30px;
  font-size: 14px;
  text-transform: uppercase;
}

.floppy {
  width: 21px;
  height: 21px;
  transition: 1s ease-in-out;
  z-index: 1;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.street__img {
  filter: blur(3px);
}

.rock__img {
  filter: grayscale(5);
}

.sands__img {
  filter: brightness(2);
}

.beach__img {
  filter: sepia(3);
}

.sea__img {
  filter:contrast(2);
}

.car__img {
  filter: grayscale(1) invert(1);
}

.table__img {
  filter: blur(1px);
}

.snow__img {
  filter: contrast(2);
}

@media (width <= 700px) {
  .header .section,
  .section__image,
  .section__title {
      width: 100%;
  }

  .header {
      width: 100%;
  }

  .label__text {
      top: 23px;
      right: 11px;
  }

  .like-button__container {
      gap: 10px;
  }

  .footer__button {
      display: inline-flex;
      padding: 15px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 306px;
      height: 80px;
  }
  .footer__text {
      display: flex;
      height: 14px;
      flex-direction: column;
      justify-content: center;
  }
  .floppy {
      width: 28px;
      height: 28px;
  }

  .dialog__floppy {
      width: 39px;
      height: 39px;
  }

  .dialog__text {
      width: 198px;
  }
}