/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'inter-Variable', sans-serif;
    --sub-font: 'PressStart2P', monospace;
    --wght-text: 400;
    --wght-title: 700;
    --main-color: #000;
    --accent-color: #FFFFFF;
    --liked-heart-color: #ff0000;
    --hover-heart-color: #000;
    --text-bg: #fff;
    --text-color: #000;
    --bg-image: linear-gradient(to bottom, #E7E7E7 0.01%, #1A1A1A);
}

.header {
    border: 2px solid var(--main-color);
    background-color: var(--accent-color);
    font-family: var(--sub-font);
}

.header__link {
    color: var(--main-color);
}

.header__title {
    color: var(--main-color);
}

.theme-menu__button {
    color: var(--main-color);
}

.theme-menu__button:after {
    background-color: var(--main-color);
}

.section {
    border: 2px solid var(--main-color);
    background-color: var(--accent-color);
    font-family: var(--main-font);
}

.section__title {
    font-variation-settings: "wgth" var(--wght-title);
}

.label__text {
    color: var(--main-color);
    -webkit-text-stroke: 1px var(--accent-color);
    font-family: var(--sub-font);
}

@supports (-webkit-text-stroke: 1px var(--accent-color)) {
    .label__text {
      -webkit-text-stroke: 1px var(--accent-color);
    }
  }
  
  @supports not (-webkit-text-stroke: 1px var(--accent-color)) {
    .label__text {
      text-shadow: 1px 1px var(--accent-color);
    }
  }

  .button__style {
    background-color: var(--accent-color);
    border: 2px solid var(--main-color);
    font-family: var(--sub-font);
    font-variation-settings: "wght" var(--wght-text);
  }

  .button__style:focus {
    box-shadow: 2px 2px 0px 0px var(--main-color);
  }

  .button__text {
    color: var(--text-color);
    background-color: var(--text-bg);
    mix-blend-mode: difference;
    font-variation-settings: "wght" var(--wght-text);
  }

  .button__style:before {
    background-color: var(--text-color);
  }

  .card__icon-button:focus-visible {
    border-color: 2px solid var(--main-color);
  }

  .contour {
    fill: var(--hover-heart-color);
  }
  
  .like-icon.is-liked .contour {
    fill: var(--liked-heart-color);
  }

  .heart:hover .main-body {
    fill: var(--hover-heart-color);
  }

  .heart:hover .core {
    fill: var(--hover-heart-color);
  }

  .like-icon.is-liked .sparks {
    fill: var(--liked-heart-color);
  }

  .like-icon.is-liked .main-body {
    fill: var(--liked-heart-color);
  }

  .heart:active .main-body {
    fill: var(--liked-heart-color);
  }
  
  .heart:active .core {
    fill: var(--liked-heart-color);
  }
  
  .like-icon.is-liked .core {
    fill: var(--liked-heart-color);
  }

  .footer {
    background-color: var(--accent-color);
  }

  #dialog__id {
    background-color: var(--accent-color);
  }

  .dialog__content {
    color: var(--main-color);
    font-family: var(--sub-font);
  }

  .dialog__button {
    font-family: var(--sub-font);
    border: 2px solid var(--main-color);
    background: var(--accent-color);
    color: var(--main-color);
  }
  
  .floppy {
    fill: var(--main-color);
    mix-blend-mode: difference;
  }
/* стили ниже нужны для корректного переопределения цветов */
.theme-light .button__text {
    color: var(--text-bg);
    background-color: var(--text-color);
}

.theme-light .floppy {
    fill: var(--accent-color);
}